<%- include('partials/header') %> <!-- Include your header here -->

<main>
    <section class="navigation">
        <h2>Administration Options:</h2>
        <div class="button-container">
            <button onclick="navigateWithLoader('/administration/mark-attendance')" class="nav-button">Mark My Attendance</button>
        </div>
        <div class="button-container">
            <button onclick="navigateWithLoader('/administration/view-attendance')" class="nav-button">View My Attendance (for the Month)</button>
        </div>
        <div class="button-container">
            <button onclick="navigateWithLoader('/administration/apply-leave')" class="nav-button">Apply for a Leave</button>
        </div>
        <div class="button-container">
            <button onclick="navigateWithLoader('/administration/company-terms')" class="nav-button">Company Terms and Conditions of Work</button>
        </div>
    </section>
</main>

<%- include('partials/footer') %> <!-- Include your footer here -->
