<%- include('partials/header') %> <!-- Include your header here -->

<main>
  <h1>Welcome, <%= username %>!</h1>
  <section class="navigation">
      <h2>Navigate to:</h2>
      <ul>
          <li><a href="./accounts" class="dash-button"><i class="fas fa-money-bill-wave"></i> ACCOUNTS</a></li>
          <li><a href="/administration" class="dash-button"><i class="fas fa-user-shield"></i> ADMINISTRATION</a></li>
          <li><a href="/work" class="dash-button"><i class="fas fa-briefcase"></i> WORK</a></li>
          <li><a href="/sales" class="dash-button"><i class="fas fa-chart-line"></i> SALES</a></li>
          <li><a href="/purchase" class="dash-button"><i class="fas fa-shopping-cart"></i> PURCHASE</a></li>
      </ul>
  </section>
</main>


<%- include('partials/footer') %> <!-- Include your footer here -->
